@import 'react-querybuilder/dist/query-builder-layout.scss';

.dark .queryBuilder {
  color-scheme: dark;
}

.queryBuilder {
  .ruleGroup-addGroup {
    & + button.ruleGroup-cloneGroup,
    & + button.ruleGroup-lock,
    & + button.ruleGroup-remove {
      margin-left: auto !important;
    }
  }
  .rule-operators,
  .rule-value {
    & + button.rule-cloneRule,
    & + button.rule-lock,
    & + button.rule-remove {
      margin-left: auto !important;
    }
  }
  .ruleGroup .rule .rule-value:has(.rule-value-list-item) {
    gap: 0;
  }
  &.queryBuilder-branches {
    .rule,
    .ruleGroup .ruleGroup {
      &::before,
      &::after {
        border-color: hsl(var(--input));
      }
    }
  
    .betweenRules {
      &::before {
        border-color: hsl(var(--input));
      }
    }
  }
}